@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

}

@layer components {
    @font-face {
        font-family: 'dana';
        src: url('/assets/fonts/DanaFaNum-Regular.woff2');

    }

    @font-face {
        font-family: 'dana bold';
        src: url('/assets/fonts/DanaFaNum-DemiBold.woff2');

    }

    @font-face {
        font-family: 'dana medium';
        src: url('/assets/fonts/DanaFaNum-Medium.woff2');

    }

    body {
        direction: rtl;
        font-family: dana;
        background-color: #F9FAFF;
    }

    .container {
        padding: 0 8px;
    }

    .Discount-banner {
        background: linear-gradient(#F3395A, #B92241)
    }

    .Wonders-day-offer {
        background: linear-gradient(#7854F7, #0E38B0)
    }

    .Autumn-offer {
        background: linear-gradient(#DC0278, #9D035A)
    }
}